<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<castle>
		<components>
			<component id="RequestProcessor" type="SourceServer.SourceServerRequestProcessor,SourceServer" lifestyle="transient"/>
			<component id="FileBrowser" service="SourceServer.IFileBrowser,SourceServer" type="SourceServer.FileBrowser,SourceServer" lifestyle="transient"/>
			<component id="Configuration" service="SourceServer.IConfiguration,SourceServer" type="SourceServer.Configuration,SourceServer" lifestyle="transient">
				<parameters>
					<sourceCodeRootDirectory>D:\VDF\src</sourceCodeRootDirectory>
				</parameters>
			</component>
		</components>
	</castle>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="SourceServerModule" type="SourceServer.SourceServerModule, SourceServer, Version=1.0.0.0, Culture=neutral"/>
		</httpModules>
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>    
		<modules>
			<add name="SourceServerModule" type="SourceServer.SourceServerModule, SourceServer, Version=1.0.0.0, Culture=neutral"/>
		</modules>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
	</system.webServer>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs\\ProjectPilot.Portal.log"/>
			<param name="AppendToFile" value="false"/>
			<param name="RollingStyle" value="Size"/>
			<param name="MaxSizeRollBackups" value="5"/>
			<param name="MaximumFileSize" value="5000KB"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date|[%3thread]|%-5level|%-40logger{3}|%message%newline"/>
			</layout>
		</appender>
		<root>
			<priority value="DEBUG"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
</configuration>
