using MbUnit.Framework;

namespace ${testSuite.Namespace}
{
    /// <summary>
    /// ${testSuite.Description}
    /// </summary>
    [TestFixture]
    public class ${testSuite.TestSuiteName}TestSuite
    {
#foreach ( $testCase in ${testSuite.ListTestCases()} )	
        /// <summary>
        /// ${testCase.TestCaseDescription}
        /// </summary>
        [Test]
#foreach ( $tag in ${testCase.Tags} )
        [Metadata("UserStory", $tag)]
#end
#if (${testSuite.IsParallelizable})
        [Parallelizable]
#end
        public void ${testCase.TestCaseName}()
        {
            using (${testSuite.TestRunnerName}TestRunner runner = new ${testSuite.TestRunnerName}TestRunner())
            {
                runner
                    .SetDescription("${testCase.TestCaseDescription}")
#foreach ( $tag in ${testCase.Tags})
                    .AddTag("${tag}")#if ($velocityCount == $testCase.Tags.Count);#end
#each

#end ##foreach tag
#if ( ${testCase.TestSteps.Count} > 0 )
#set( $counter = 1 )

                runner
#foreach ($testStep in ${testCase.TestSteps})
                    // $testStep.ExpandDescriptionWithParameterValues($testSuite.BusinessActionData)
#if ( ${testStep.HasParameters} )
#foreach ($actionParameter in ${testStep.ActionParameters} )
#if ( ${actionParameter.ParameterKey} == "int" || ${actionParameter.ParameterKey} == "decimal" )
                    .${testStep.ActionName}(${actionParameter.ParameterValue})
#else
                    .${testStep.ActionName}("${actionParameter.ParameterValue}")
#end
#end
#else
                    .${testStep.ActionName}()
#end
#set( $counter = ${counter} + 1 )
#end
#end
            }
        }

#end ##foreach testcase

        /// <summary>
        /// Test fixture setup code.
        /// </summary>
        [FixtureSetUp]
        public void FixtureSetup()
        {
            Gallio.Framework.Pattern.PatternTestGlobals.DegreeOfParallelism = 20;
        }
    }
}
