using MbUnit.Framework;

namespace ${testSuite.Namespace}
{
    /// <summary>
    /// ${testSuite.Description}
    /// </summary>
    [TestFixture]
    public class ${testSuite.TestSuiteName}TestSuite
    {
#foreach ( $testCase in ${testSuite.ListTestCases()} )	
        /// <summary>
        /// ${testCase.TestCaseDescription}
        /// </summary>
        [Test]
#foreach ( $tag in ${testCase.Tags} )
        [Metadata("UserStory", $tag)]
#end
#if (${testSuite.IsParallelizable})
        [Parallelizable]
#end
        public void ${testCase.TestCaseName}()
        {
            using (${testSuite.TestRunnerName}TestRunner runner = new ${testSuite.TestRunnerName}TestRunner())
            {
                runner
                    .SetDescription("${testCase.TestCaseDescription}")
#foreach ( $tag in ${testCase.Tags})
                    .AddTag("${tag}")#if ($velocityCount == $testCase.Tags.Count);#end
#each

#end
#if ( ${testCase.TestSteps.Count} > 0 )

                runner
#foreach ($testStep in ${testCase.TestSteps})
                    // ${testStep.ExpandDescriptionWithParameterValues(${testSuite.BusinessActionData})}
                    .${testStep.ActionName}(${testStep.ExpandTestCaseStepWithParametersForCSharp(${testSuite.BusinessActionData})})#if ($velocityCount == ${testCase.TestSteps.Count});#end
#each

#end
#end
            }
        }

#end
        /// <summary>
        /// Test fixture setup code.
        /// </summary>
        [FixtureSetUp]
        public void FixtureSetup()
        {
            Gallio.Framework.Pattern.PatternTestGlobals.DegreeOfParallelism = 20;
        }
    }
}
