body
{
    font-family:sans-serif;
}

a:link,
a:visited,
a:hover
{
    text-decoration:none;
}

a:hover
{
    color:White;
}

.main
{
    padding: 0px;
}

.projectsuccess, .projectfail, .projectpending
{
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-width:medium;
    border-bottom-color:#4F4E57;
}

.projectsuccess
{
    background-color: #3F6166;
}

.projectfail
{
    background-color: #C43636;
}

.projectpending
{
    background-color: #D6CC74;
}

.projectid
{
    font-size: xx-large;
    font-weight: bold;
}

.projectpending,
.projectpending .projectid a:link,
.projectpending .projectbuilddata a:link
{
    color:#7A7124;
}

.projectfail,
.projectfail .projectid a:link,
.projectfail .projectbuilddata a:link
{
    color:#FFADAD;
}

.projectsuccess,
.projectsuccess .projectid a:link,
.projectsuccess .projectbuilddata a:link
{
    color:#97BABF;
}

.projectpending .projectid a:hover,
.projectpending .projectbuilddata a:hover,
.projectfail .projectid a:hover,
.projectfail .projectbuilddata a:hover,
.projectsuccess .projectid a:hover,
.projectsuccess .projectbuilddata a:hover
{
    text-decoration:none;
    color:White;
}

.projectbuilddata
{
    font-weight:bold;
}

.serverstats
{
    padding: 1px 5px 4px 15px;
    font-size: small;
    background-color: #4F4E57;
    color: #CCFFFF;
    font-weight: bold;
}

/* 
#F4E9DF
#8F776A
#4F4E57
#66AEF3
#C7EDE8
*/