<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
        <link href="Headless.css" rel="stylesheet" type="text/css" />
		<title>headless: MYCOMPUTER</title>
	</head>
	<body>
        <div class="main">
	        <div class="projectfail">
	            <div class="projectid">
	                <a href="project/ProjectPilot">ProjectPilot</a>
	            </div>
	            <div class="projectbuilddata">
	                <a href="project/ProjectPilot">sleeping</a> | 
    	            <a href="project/ProjectPilot/Build/Headless-1.2.33.112">failed | 02.12.2008 12:33 | Headless-1.2.33.112</a>
	            </div>
	        </div>

	        <div class="projectsuccess">
	            <div class="projectid">
	                <a href="project/Headless">Headless</a>
	            </div>
	            <div class="projectbuilddata">
	                <a href="project/Headless">stopped</a> | 
    	            <a href="project/ProjectPilot/Build/Headless-1.2.33.112">successful | 02.12.2008 12:33 | Headless-1.2.33.112</a>
	            </div>
	        </div>

	        <div class="projectpending">
	            <div class="projectid">
	                <a href="project/Flubu">Flubu</a>
	            </div>
	            <div class="projectbuilddata">
	                <a href="project/Flubu">building</a> | 
    	            <a href="project/ProjectPilot/Build/Headless-1.2.33.112">successful | 02.12.2008 12:33 | Headless-1.2.33.112</a>
	            </div>
	        </div>
	    </div>
	    <div class="serverstats">
	        headless running on MYCOMPUTER:9223
	    </div>
	</body>
</html>