using MbUnit.Framework;

namespace ${testSuite.Namespace}
{
    /// <summary>
    /// ${testSuite.Description}
    /// </summary>
    [TestFixture]
    public class ${testSuite.TestSuiteName}TestSuite
    {
#foreach ( $testCase in ${testSuite.ListTestCases()} )	
        /// <summary>
        /// ${testCase.TestCaseDescription}
        /// </summary>
        [Test]
#foreach ( $tag in ${testCase.Tags} )
        [Metadata("UserStory", $tag)]
#end
#if (${testSuite.IsParallelizable})
        [Parallelizable]
#end
        public void ${testCase.TestCaseName}()
        {
            using (${testSuite.TestRunnerName}TestRunner runner = new ${testSuite.TestRunnerName}TestRunner())
            {
                runner
                    .SetDescription("${testCase.TestCaseDescription}")
#set( $tagCounter = 1 )
#foreach ( $tag in ${testCase.Tags})
#if( ${tagCounter} == ${testCase.Tags.Count} )
                    .AddTag("${tag}")
#else
                    .AddTag("${tag}");
#end
#set( $tagCounter = $tagCounter + 1	 )
#end

                runner
#set( $counter = 1 )
#foreach ($testAction in ${testCase.TestSteps})
                    // ${testSuite.BusinessActionData.GetAction("${testAction.ActionName}").Description}
                    .${testAction.ActionName}
#set( $counter = ${	counter} + 1 )
#end
            }
        }

#end

        /// <summary>
        /// Test fixture setup code.
        /// </summary>
        [FixtureSetUp]
        public void FixtureSetup()
        {
            Gallio.Framework.Pattern.PatternTestGlobals.DegreeOfParallelism = 20;
        }
    }
}
