/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #5c87b2;
    margin: 0;
    padding: 0;
    color: #696969;
}



/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding:   5px 0 0 0;
    position: relative;
    margin: 0;
    font-family:Verdana;
    font-size:12px;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/*------------------------*/
#containerDiv {
position: relative;
width:100%;
}

#headerDiv {
position: fixed;
left:0px;
background-color: Transparent;
width: 100%;
z-index:100;
}

#menuDiv {
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
height: 45px;
background-color:#5c87b2;
}

#patternDiv {
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background-color: #2D659E;
font-family:Verdana;
font-weight:bold;
font-size: 12px;
color: White;
height: 25px;
}

#menuList{
float:left;
}

#Title
{
	width:50%;
	float:left;
	padding-top: 10px;
	text-align:center;
	height: 35px;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	color:White;
}

#contentDiv {
position: relative;
top: 70px;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background-color: white;
font-family:Monospace;
font-size:small;
}

#fileListDiv {
position: relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background-color: white;
font-family:Monospace;
font-size:small;
}

/*Filter div*/
#filterDivHead
{
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background-color: #2D659E;
font-family:Verdana;
font-weight:bold;
font-size: 12px;
color: White;
height: 20px;
}

#filterDiv {
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background: solid black;
font-family:Verdana;
font-weight:bold;
font-size: 12px;
color: White;
height: 70px;
}

#advancedFilterDiv {
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
font-family:Verdana;
font-weight:bold;
font-size: 12px;
color: White;
height: 65px;
}

#filterDivSubmit
{
position:relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
margin-left:auto;
margin-right:auto;
background-color: #2D659E;
font-family:Verdana;
font-weight:bold;
font-size: 12px;
color: White;
height: 26px;
}

#bottomFixedDiv{
position: fixed;
bottom: 0px;
width: 100%;
background-color: Transparent;
z-index:100;
}

#bottomFixedHeader{
position: relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 5px;
padding-top: 5px;
margin-left:auto;
margin-right:auto;
border-top: 1px solid #999999;
background-color: #5c87b2;
z-index:100;
color: White;
font-weight:bold;
}

#bottomFixedContent{
position: relative;
width: 95%;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 25px;
padding-top: 10px;
margin-left:auto;
margin-right:auto;
border-top: 1px solid #999999;
bottom: 0px;
background-color: white;
z-index:100;
color: Black;
font-family:Monospace;
font-size:small;
}

#bottomFixedContent a:link
{
	text-decoration:none;
	color:Black;
}

#bottomFixedContent a:hover
{
	text-decoration:none;
	color:Black;
}

#bottomFixedContent a:visited
{
	text-decoration:none;
	color:Black;
}

#bottomFixedContent a:active
{
	text-decoration:none;
	color:Black;
}

.tableClass
{
	margin-left: auto;
	margin-right: auto;
	table-layout:fixed;
	width:100%;
	white-space:nowrap;
	
}

.tableClass tr td
{
	white-space:nowrap;
	overflow:hidden;
}

.tableClass a:link
{
	text-decoration: none;
	white-space: nowrap;
}

.tableClass a:visited
{
	text-decoration: none;
}

.tableClass a:active
{
	text-decoration: none;
}

.tableClass a:hover
{
	text-decoration: underline;
}


/*for specific td depending on the pattern */

.time
{
	width:180px;

}

.level
{
	width:80px;
}

.threadid
{
	width:100px;
}

.namespace
{
	/*width:50px;*/
}

.message
{
}

.ndc
{
}

.namespace
{
}

/*every second row is different color*/

.even
{
	background: white;
	vertical-align: top;
}

.odd
{
	background: #F4F4F4;
	vertical-align: top;
}

.selectedTD
{
	background-color:Yellow;
}
/*coloring of the text according to level settings*/

.trace,
.trace a:link,
.trace a:visited
{
	color:Black; 
}

.debug ,
.debug td a:link,
.debug td a:visited
{
	color:Gray; 
}

.info,
.info td a:link,
.info td a:visited
{
	color:Green;
}

.warn,
.warn td a:link,
.warn td a:visited
{
	color:Orange;
}

.error,
.error td a:link,
.error td a:visited
{
	color:Red;
}

.fatal,
.fatal td a:link,
.fatal td a:visited
{
	color:#FF19FF;
}



/*obsolete*/

.invisible
{
	display:none;
}