body
{
    font-family:Tahoma;
    font-size:small;
}

.navigation
{
    padding: 0px 10px 0px 10px;
    background-color: #CCCCFF;
    float: left;
    margin: 0px 10px 0px 10px;
}
.content
{
    margin: 10px;
}
