body
{
}

a.el { text-decoration: none; font-weight: bold }
a.ln:link { text-decoration: none; font-weight: normal; color: #0000FF}
a.ln:visited { text-decoration: none; font-weight: normal; color: #0000FF}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; background-color: #f2f2ff }

.header
{
}

.footer
{
    clear:both;
}

.file
{
    background-color: #EFEFE7;
}

.divln
{
    padding: 4px;
    float: left;
    line-height: 1.1em !important;
    font-family: Consolas, Monaco, 'Bitstream Vera Sans Mono' , 'Courier New' , Courier, 'monospace !important';
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
}

.ln
{
}

.divcode
{
    clear:right;
    float:left;
    width:90%;
    white-space: pre;
}

.dirlist
{
}

.diritem
{
    font-weight: bold;
}

.fileitem
{
}

.dc0
{
    width:90%;
    background-color: #ECF9FF;
    white-space: pre;
}

.dc1
{
    width:90%;
    background-color: #FBFEFF;
    white-space: pre;
}