<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <div class="MainDiv">
        <h1>$project.ProjectName Revision Control Statistics</h1>
    
    #foreach ($reportImage in $reportImages)
        <div class="ReportDiv">
            <img class="ReportImage" src="$webSiteUrl$reportImage" alt="$reportImage" width="1000" />
        </div>
    #end
    </div>
