<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Add new custom configuration here -->
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>

	<castle>
		<include uri="file://ExampleConfiguration.config" />
	</castle>
</configuration>