<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">    
        <link href="$settings.CssShortFileName" rel="stylesheet" type="text/css">
        <div class="ReportHeader">
            <h1>Accipio Test Runs History</h1>
            <p class="AccipioVersion">Accipio $accipioVersion</p>
            <p class="HeaderData">Project: $settings.ProjectName</p>
            <p class="HeaderData">Report time: $reportTime.ToString()</p>
        </div>
        <div class="SectionDiv">
            <h2>Test Runs</h2>
            <table class="SectionTable">
                <tbody><tr class="SectionTableHeader">
                    <th rowspan="2" align="left">Run Time</th>
                    <th rowspan="2">Duration</th>
                    <th rowspan="2">Tested SW Version</th>
                    <th colspan="4">Test cases</th>
                    <th colspan="4">User stories</th>
                </tr>
                <tr class="SectionTableHeader">
                    <th>total</th>
                    <th>successful</th>
                    <th>failed</th>
                    <th class="CellSeparated">not impl.</th>
                    <th>total</th>
                    <th>successful</th>
                    <th>failed</th>
                    <th>not impl.</th>
                </tr>
                #foreach( $testRun in $db.ListTestRunsInDescendingOrder() )
                    #odd
                <tr class="TableRowOdd">
                    #even
                <tr class="TableRowEven">
                    #each
                    <td align="left"><a href="TestRuns/$testRun.FileName">$testRun.EndTime</a></td>
                    <td align="center">$testRun.DurationString</td>
                    <td align="center">$!testRun.TestedSoftwareVersion</td>
                    <td align="center">$testRun.TestCasesTotal</td>
                    <td align="center">$testRun.TestCasesSuccess</td>
                    <td align="center">$testRun.TestCasesFail</td>
                    <td align="center" class="CellSeparated">$testRun.TestCasesNotImplemented</td>
                    <td align="center">$testRun.UserStoriesTotal</td>
                    <td align="center">$testRun.UserStoriesSuccess</td>
                    <td align="center">$testRun.UserStoriesFail</td>
                    <td align="center">$testRun.UserStoriesNotImplemented</td>
                </tr>
                #end
                <tr class="SectionTableRowTotals">
                    <td colspan="11" align="left">Total runs: $db.TestRuns.Count</td>
                </tr>                
            </tbody></table>
        </div>
        <div class="SectionDiv">
            <h2>Test Runs Through Time</h2>
            <img class="Graph" alt="Test Runs Through Time" src="$testCasesGraphFileName">
        </div>

        <div class="SectionDiv">
            <h2>User Stories Through Time</h2>
            <img class="Graph" alt="Test Runs Through Time" src="$userStoriesGraphFileName">
        </div>
    </body></html>